---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
---

<Layout title="Colibra Play">
	<main class="w-full h-screen">
		<Header></Header>
	</main>
</Layout>

<style>
	
</style>
