---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Colibra Play">
	<main class="w-full h-screen">
		<Header></Header>
	

		<Footer></Footer>
	</main>
</Layout>
