---
import BotonReproducir from "./BotonReproducir.astro";
import BotonInformacion from "./BotonInformacion.astro";
import Row from "./Row.astro";
import ContentCard from "./ContentCard.astro";

interface Props {
  /*   data: {
    type: string;
    title: string;
    description: string;
    contentUrl: string;
    genre: string;
    duration: string;
    thumbnailUrl: string;
  }; */
  data: Record<string, any>[];
  title: string;
}

const { data, title } = Astro.props;
---

<div class="px-4 md:px-12 mt-4 space-y-8">
  <div>
    <p class="text-white text-md md:text-xl lg:text-2xl font-semibold mb-4">
      {title}
    </p>

    <div class="grid grid-cols-4 gap-2">
      {data.map((content) => <ContentCard key={content.id} data={content} />)}
    </div>
  </div>
</div>
