---
import Instagram from '../components/Iconos/Instagram.astro'
import Facebook from '../components/Iconos/Facebook.astro'
import Twitter from '../components/Iconos/Twitter.astro'
import Threads from '../components/Iconos/Threads.astro'
---

<footer class="mx-32 p-6 flex flex-col border border- border-red-500 text-gray-500 text-lg">

  <div class="px-80 flex flex-row gap-4 mb-10">
    <div class=" hover:scale-125 hover:text-white transition-all duration-300 cursor-pointer"><Instagram/></div>
    <div class=" hover:scale-125 hover:text-white transition-all duration-300 cursor-pointer"><Facebook/></div>
    <div class=" hover:scale-125 hover:text-white transition-all duration-300 cursor-pointer"><Twitter/></div>
    <div class=" hover:scale-125 hover:text-white transition-all duration-300 cursor-pointer"><Threads/></div>
  </div>
  
  <div class="px-80 flex flex-row w-full justify-between">
    
    <div>
      <span class="text-2xl">COLIBRA PLAY</span>
      <div class="ml-3 my-2 flex flex-col gap-4">
        <a class=" hover:scale-105 hover:text-white transition-all duration-300 cursor-pointer">Inicio</a>
        <a class=" hover:scale-105 hover:text-white transition-all duration-300 cursor-pointer">Ayuda</a>
        <a class=" hover:scale-105 hover:text-white transition-all duration-300 cursor-pointer">Contacto</l>
        <a class=" hover:scale-105 hover:text-white transition-all duration-300 cursor-pointer">Legal</a>
        <a class=" hover:scale-105 hover:text-white transition-all duration-300 cursor-pointer">Sobre Play</a>      
      </div>
    </div>
    
    <div>
      <span class="text-2xl">MÚSICA</span>
      <div class="ml-3 my-2 flex flex-col gap-4">
        <a class=" hover:scale-105 hover:text-white transition-all duration-300 cursor-pointer">Pop/Rock</a>
        <a class=" hover:scale-105 hover:text-white transition-all duration-300 cursor-pointer">Electrónica</a>
        <a class=" hover:scale-105 hover:text-white transition-all duration-300 cursor-pointer">Bandas sonoras</a>
        <a class=" hover:scale-105 hover:text-white transition-all duration-300 cursor-pointer">De videojuegos</a>
        <a class=" hover:scale-105 hover:text-white transition-all duration-300 cursor-pointer">Inspiradora</a>
        <a class=" hover:scale-105 hover:text-white transition-all duration-300 cursor-pointer">Toda la música</a>
      </div>
    </div>
    
    <div>
      <span class="text-2xl">DOCUMENTALES</span>
      <div class="ml-3 my-2 flex flex-col gap-4">
        <a class=" hover:scale-105 hover:text-white transition-all duration-300 cursor-pointer">Historia</a>
        <a class=" hover:scale-105 hover:text-white transition-all duration-300 cursor-pointer">Ciencia</a>
        <a class=" hover:scale-105 hover:text-white transition-all duration-300 cursor-pointer">Tecnología</a>
        <a class=" hover:scale-105 hover:text-white transition-all duration-300 cursor-pointer">Naturaleza</a>
        <a class=" hover:scale-105 hover:text-white transition-all duration-300 cursor-pointer">Biografías</a>
        <a class=" hover:scale-105 hover:text-white transition-all duration-300 cursor-pointer">Todos los docus</a>
      </div>
    </div>
    
    <div>
      <span class="text-2xl">AMBIENTES</span>
      <div class="ml-3 my-2 flex flex-col gap-4">
        <a class=" hover:scale-105 hover:text-white transition-all duration-300 cursor-pointer">Naturales</a>
        <a class=" hover:scale-105 hover:text-white transition-all duration-300 cursor-pointer">Fantasía</a>
        <a class=" hover:scale-105 hover:text-white transition-all duration-300 cursor-pointer">Históricos</a>
        <a class=" hover:scale-105 hover:text-white transition-all duration-300 cursor-pointer">Futuristas</a>
        <a class=" hover:scale-105 hover:text-white transition-all duration-300 cursor-pointer">Relajantes</a>
        <a class=" hover:scale-105 hover:text-white transition-all duration-300 cursor-pointer">Todos los ambientes</a>
      </div>
    </div>

  </div>

</footer>
