---
import Instagram from '../components/Iconos/Instagram.astro'
import Facebook from '../components/Iconos/Facebook.astro'
import Twitter from '../components/Iconos/Twitter.astro'
import Threads from '../components/Iconos/Threads.astro'
---

<footer class="mx-32 p-6 flex flex-col border border- border-red-500">

  <div class="flex flex-row gap-4">
    <div><Instagram/></div>
    <div><Facebook/></div>
    <div><Twitter/></div>
    <div><Threads/></div>
  </div>
  
  <div class="m-7 ml-32 flex flex-row gap-12">
    
    <div>
      <div>COLIBRA PLAY</div>
      <div class="ml-3 my-2">
        <div>Inicio</div>
        <div>Ayuda</div>
        <div>Contacto</div>
        <div>Legal</div>
        <div>Sobre Play</div>      
      </div>
    </div>
    
    <div>
      <div>MÚSICA</div>
      <div class="ml-3 my-2">
        <div>Pop/Rock</div>
        <div>Electrónica</div>
        <div>Bandas sonoras</div>
        <div>De videojuegos</div>
        <div>Inspiradora</div>
        <div>Toda la música</div>
      </div>
    </div>
    
    <div>
      <div>DOCUMENTALES</div>
      <div class="ml-3 my-2">
        <div>Historia</div>
        <div>Ciencia</div>
        <div>Tecnología</div>
        <div>Naturaleza</div>
        <div>Biografías</div>
        <div>Todos los docus</div>
      </div>
    </div>
    
    <div>
      <div>AMBIENTES</div>
      <div class="ml-3 my-2">
        <div>Naturales</div>
        <div>Fantasía</div>
        <div>Históricos</div>
        <div>Futuristas</div>
        <div>Relajantes</div>
        <div>Todos los ambientes</div>
      </div>
    </div>

  </div>

</footer>
