---

---

<nav
  class="flex flex-row justify-between items-center gap-4 mx-auto w-full border-gray-100 border-2 py-7 px-28 tracking-wide text-lg"
>
  <div class="flex flex-row gap-12 items-center">
    <img src="/logo.svg" alt="" class="w-64" />

    <a
      href="/"
      class="hover:font-semibold hover:text-gray-200 transition hover:scale-105 text-pretty"
      >Inicio</a
    >
    <a
      href="/documentales"
      class="hover:font-semibold hover:text-gray-200 transition hover:scale-105 text-pretty"
      >Documentales</a
    >
    <a
      href="/radio"
      class="hover:font-semibold hover:text-gray-200 transition hover:scale-105 text-pretty"
      >Radio Online</a
    >
  </div>
  <div class="flex flex-row gap-12">
    <a
      href="/ayuda "
      class="hover:font-semibold hover:text-gray-200 transition hover:scale-105 text-pretty"
      >Ayuda</a
    >
    <a
      href="/contacto"
      class="hover:font-semibold hover:text-gray-200 transition hover:scale-105 text-pretty"
      >Contacto</a
    >
  </div>
</nav>
