<style>
  .container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  .box {
    width: 100px;
    height: 100px;
  }

  .red {
    background-color: red;
  }

  .green {
    background-color: green;
  }

  .blue {
    background-color: blue;
  }

  .yellow {
    background-color: yellow;
  }
</style>

<div class="container flex flex-col items-center justify-between h-32 flex-wrap w-full overflow-x-hidden ">
  <div class="box red"></div>
  <div class="box green"></div>
  <div class="box blue"></div>
  <div class="box yellow"></div>
  <div class="box blue"></div>
  <div class="box blue"></div>
</div>
